/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

@font-face {
    font-family: "Condensed";
    src: url(/fonts/robotocondensed.ttf) format("truetype");
}

.edit_hover_class a{
    visibility:hidden;
}
.edit_hover_class:hover a {
    visibility:visible;
}
