<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<body>
    <div th:replace="fragments/navbar.html :: navbar"></div>

    <main role="main">
        <div class="container">
            <div class="container-fluid">
                <h1 class="display-3" th:text="${project}"></h1>
                <h2 th:text="${counter}"></h2>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddCounterData">Add measurement</button>
                <a th:href="@{/{project}/{counter}/evaluateSimple(project=${project}, counter=${counter}, periodFrom=${periodFrom}, periodUntil=${periodUntil}, mode='Month')}" class="btn btn-primary" role="button" aria-pressed="true">Evaluate simple</a>

                <div class="accordion accordion-flush" style="margin-top: 30px; margin-bottom: 30px;">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                                Graph
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div id="myGraph"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table" id="dataTable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Counter value</th>
                            <th scope="col">Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="dataRow, dataIndex : ${counterData.counterData}">
                            <th scope="row" th:text="${dataIndex.index}"></th>
                            <td th:text="${#temporals.format(dataRow.timestamp, 'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text="${#numbers.formatDecimal(dataRow.value,1,2)}"></td>
                            <td th:text="${dataRow.comment ne null} ? ${dataRow.comment} : '-'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="AddCounterData" tabindex="-1" aria-labelledby="AddCounterData"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="#" th:action="@{/api/counter/addCounterData/{project}/{counter}(project=${project}, counter=${counter}, periodFrom=${periodFrom}, periodUntil=${periodUntil})}"
                          th:object="${newCounterValue}" method="post">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabelHighlight">Add counter data</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="addCounterDataTimestamp" class="col-form-label">Timestamp</label>
                                </div>
                                <div class="col">
                                    <input type="datetime-local" class="form-control" id="addCounterDataTimestamp" th:field="*{timestamp}" >
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="counterValue" class="col-form-label">Counter value</label>
                                </div>
                                <div class="col">
                                    <input type="number" min="0.00" step="0.01" class="form-control" id="counterValue" th:field="*{value}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="comment" class="col-form-label">Comment</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="comment" th:field="*{comment}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="fragments/footer.html :: footer"></div>

    <script src="/js/counterData.js" th:href="@{/js/counterData.js}"></script>

    <div>
        <script src="/js/d3.js" th:href="@{/js/d3.js}"></script>
        <script src="/js/counterDataD3.js" th:href="@{/js/counterDataD3.js}"></script>

        <script th:inline="javascript">
            let myData = [[${counterData.counterData}]];

            let timeParse = d3.timeParse("%Y-%m-%dT%H:%M:%S");

            let chart = LineChart(myData, {
                x: d => timeParse(d.timestamp),
                y: d => d.value,
                yLabel: "Consumption",
                xLabel: "Time",
                width: d3.select("#dataTable").style("width").slice(0, -2),
                height: 500,
                color: "steelblue"
            })

            document.getElementById("myGraph").appendChild(chart);
        </script>
    </div>
</body>
</html>