<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"></head>
<body>
    <div th:replace="fragments/navbar.html :: navbar"></div>

    <main role="main">
        <div class="container">
            <div class="container-fluid">
                <h1 class="display-3">Welcome to ConsumptionCalc.</h1>

                <h2>Projects</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card" th:each="project : ${projects}">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a th:text="${project.projectName}" th:href="@{/{project}(project=${project.projectName})}"></a>
                                </h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" th:each="counter : ${project.counters}">
                                        <a th:text="${counter}" th:href="@{/{project}/{counter}/counterData(project=${project.projectName}, counter=${counter})}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <button id="addProjectButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddProject">Add Project</button>

                <div class="modal fade" id="AddProject" tabindex="-1" aria-labelledby="AddProject" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="#" th:action="@{/api/project/add}" th:object="${newProject}" method="post">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabelHighlight">Add project</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row mb-3">
                                        <div class="col">
                                            <label for="projectName" class="col-form-label">Project name</label>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" id="projectName" th:field="*{projectName}">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <div th:replace="fragments/footer.html :: footer"></div>

    <script src="/js/index.js" th:href="@{/js/index.js}"></script>

</body>
</html>