<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: header}"></head>
<body th:onload="showModalOnErrors([[${#fields.hasErrors('${newProject.*}')}]])">
    <div th:replace="~{fragments/navbar.html :: navbar}"></div>

    <main role="main">
        <div class="container">
            <div class="container-fluid">
                <h1 th:text="#{projects}"></h1>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card" th:each="project : ${projects}">
                            <div class="card-header">
                                <a class="btn btn-outline-primary" role="button" aria-disabled="true" th:text="${project.projectName}" th:href="@{/{project}(project=${project.projectName})}"></a>
                            </div>
                            <div class="card-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action" th:each="counter : ${project.counters}" th:text="${counter.counterName}" th:href="@{/{project}/{counter}/counterData(project=${project.projectName}, counter=${counter.counterName})}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button id="addProjectButton" type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#AddProject">Add Project</button>
            </div>

            <div class="modal fade" id="AddProject" tabindex="-1" aria-labelledby="AddProject" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="#" th:action="@{/projects/addProject}" th:object="${newProject}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabelHighlight">Add project</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="projectName" class="col-form-label">Project name</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" id="projectName" th:field="*{projectName}" th:required="required">
                                        <div class="alert alert-warning" th:if="${#fields.hasErrors('projectName')}">
                                            Project names may only contain characters, numbers, spaces, '_' or '-'.
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="~{fragments/footer.html :: footer}"></div>

    <script src="/js/index.js" th:href="@{/js/index.js}"></script>

</body>
</html>